
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script&family=Racing+Sans+One&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.brand-name {
  font-family: 'Racing Sans One', cursive;
  }

a ,
a:hover{
  color: #fc900a;
  text-decoration: none;
  font-weight: bolder;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  background-color: #0E3160  ;
  /* margin: 0px auto 80px; */
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}


nav a {
  margin-left: 14px;
  color:#ddd;
}
nav .logo {
  margin-right: auto;
  height: 50px;
  display: flex;
}
nav .logo .brand-logo,
nav div h1 {
  line-height: 50px;
}
nav div h1 {
  margin: 0 15px 0 0;
}

footer {
  background-color: #0E3160  ;
  display: block;
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
  color:#ddd;
  border-top: 1px solid #eaeaea;
}

.not-found {
 text-align: center;
}
.not-found a {
 color: #4979ff;
 text-decoration: underline;
}

.containers{
  background-color: #f9e7cf;
  height: 100vh;
}

.custom-shape-divider-bottom-1622874907 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1622874907 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1622874907 .shape-fill {
  fill: #FC9202;
}

.card1 {
  padding: 20px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.form-control{
  border-radius: 1rem;
}


