.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.jumbotron {
  position: relative;
}
.jumbotron:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  /* background-image: url("/images/bg1.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.herocontent {
  /* font-weight: bold; */
  position: relative;
  text-align: center;
  padding: 30px;
}

.container{
  background-color: #F3EAC0;
  height: 80vh;
  position: relative;

  
}

.custom-shape-divider-top-1622874615 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1622874615 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1622874615 .shape-fill {
  fill: #FC9202;
}